%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{require_min_otp_vsn, "R18"}.

{erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
			{src_dirs, ["src"]}]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, false}.

{validate_app_modules, true}.

{sub_dirs, [
    "rel", 
    "apps/im_server"]}.




{deps, [
        {lager,   ".*", {git, "ssh://git@kfchain.com:7999/deps/lager.git",{branch, "v2.0.0.0"}}},
        {esockd,  ".*", {git, "ssh://git@kfchain.com:7999/deps/esockd.git", {branch,"v2.0.0.0"}}},
        {mochiweb,".*", {git, "ssh://git@kfchain.com:7999/deps/mochiweb.git",{branch,"v2.0.0.0"}}},
        {uuid,    ".*", {git, "ssh://git@kfchain.com:7999/deps/uuid.git",{branch,"master"}}},
        {jsx,     ".*", {git, "ssh://git@kfchain.com:7999/deps/jsx.git", {branch,"master"}}},
        {eredis,  ".*", {git, "ssh://git@kfchain.com:7999/deps/eredis.git", {branch,"master"}}},
        {gproc,   ".*", {git, "ssh://git@kfchain.com:7999/deps/gproc.git", {branch,"master"}}},
        {et_lib,  ".*", {git, "ssh://git@kfchain.com:7999/deps/et_lib.git", {branch,"master"}}},
        {mcast,   ".*", {git, "ssh://git@kfchain.com:7999/deps/mcast.git", {branch,"dev_extra_server_v_2"}}}
       ]}.
